.ai/workflows/cto.json
{
  "name": "cto",
  "nodes": [
    {
      "parameters": {},
      "id": "f56e9256-8fba-463b-8753-ebd997e86db9",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "prompt",
              "type": "string",
              "value": "We need to decide whether to add Redis caching for product listings. Backend Dev proposes per-request caching with a 5 minute TTL. What's your call, and why?"
            }
          ]
        },
        "options": {}
      },
      "id": "97345af8-005e-4c34-a3ee-c36a4d9b20ee",
      "name": "Set Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300]
    },
    {
      "parameters": {
        "command": "cd /Users/elentras/Projects/local-crew && ruby .ai/scripts/lib/binding_loader.rb --role cto --profile mac-studio-64gb"
      },
      "id": "a14cf90a-ad36-4c9c-8628-9654f74bf23f",
      "name": "Resolve Role Config",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "jsCode": "const roleConfig = JSON.parse($input.first().json.stdout);\nconst prompt = $('Set Prompt').first().json.prompt;\n\nreturn [{\n  json: {\n    model: roleConfig.model,\n    stream: false,\n    keep_alive: roleConfig.keep_alive,\n    options: {\n      temperature: roleConfig.temperature,\n      num_ctx: roleConfig.num_ctx\n    },\n    messages: [\n      { role: 'system', content: 'You are the cto role. Follow the instructions in .ai/roles/cto.md.' },\n      { role: 'user', content: prompt }\n    ]\n  }\n}];"
      },
      "id": "7d54c90d-bde0-4582-94a6-f27736ffb929",
      "name": "Build Ollama Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "511ab3e6-2c83-48b8-a48c-a4236c7ec56b",
      "name": "Call Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { reply: $input.first().json.message.content } }];"
      },
      "id": "d1ff6502-29f4-47a3-8bb5-7e0f4d143540",
      "name": "Extract Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [[{ "node": "Set Prompt", "type": "main", "index": 0 }]]
    },
    "Set Prompt": {
      "main": [[{ "node": "Resolve Role Config", "type": "main", "index": 0 }]]
    },
    "Resolve Role Config": {
      "main": [[{ "node": "Build Ollama Request", "type": "main", "index": 0 }]]
    },
    "Build Ollama Request": {
      "main": [[{ "node": "Call Ollama", "type": "main", "index": 0 }]]
    },
    "Call Ollama": {
      "main": [[{ "node": "Extract Reply", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "local-crew"
  },
  "id": "94ace2bd-c3d1-4093-b9e1-f790e63fd016"
}
