.ai/workflows/router.json
{
  "name": "router",
  "nodes": [
    {
      "parameters": {},
      "id": "8f44f247-9769-47d2-bc2a-00143db0a03b",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        180
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "role",
              "type": "string",
              "value": "backend_dev"
            },
            {
              "id": "a2",
              "name": "prompt",
              "type": "string",
              "value": "Write a Rails service object that calculates monthly revenue from Order records, grouped by month."
            }
          ]
        },
        "options": {}
      },
      "id": "7efe79eb-d8d4-4f57-b5b3-423615704e22",
      "name": "Set Defaults",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        180
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "07f93aa8-0ab7-4901-9c0d-752b2f694461",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        400
      ]
    },
    {
      "parameters": {},
      "id": "5a8ee964-bd3c-4e20-9bed-b43f435d2409",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        290
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://127.0.0.1:4567/bindings/{{ $json.role }}",
        "options": {}
      },
      "id": "53732a8a-74c5-4493-9656-17c9c43cf320",
      "name": "Resolve Role Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        290
      ]
    },
    {
      "parameters": {
        "jsCode": "const roleConfig = $input.first().json;\nconst input = $('Normalize Input').first().json;\nconst roleFile = input.role.replace(/_/g, '-');\n\nreturn [{\n  json: {\n    model: roleConfig.model,\n    stream: false,\n    keep_alive: roleConfig.keep_alive,\n    options: {\n      temperature: roleConfig.temperature,\n      num_ctx: roleConfig.num_ctx\n    },\n    messages: [\n      { role: 'system', content: `You are the ${input.role} role. Follow the instructions in .ai/roles/${roleFile}.md.` },\n      { role: 'user', content: input.prompt }\n    ]\n  }\n}];"
      },
      "id": "91b79d10-1f36-45a6-a1ba-85e868e38bd1",
      "name": "Build Ollama Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        290
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "be70bb05-458c-4a64-81bd-1560ccfdedfa",
      "name": "Call Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        290
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { reply: $input.first().json.message.content } }];"
      },
      "id": "6cf17746-c5ea-403d-856a-4ec1c9fdee05",
      "name": "Extract Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        290
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Set Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Defaults": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Resolve Role Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Role Config": {
      "main": [
        [
          {
            "node": "Build Ollama Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Ollama Request": {
      "main": [
        [
          {
            "node": "Call Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama": {
      "main": [
        [
          {
            "node": "Extract Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "local-crew"
  },
  "id": "841e2429-310c-40c8-914e-9a75fd7bce34"
}
